@model IEnumerable<Post>

@{
	ViewData["Title"] = "Posts";
}

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Body</th>
			<th>UserId</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var post in Model)
		{
			<tr>
				<td><a asp-area="" asp-controller="Posts" asp-action="Index", asp-route-id="@post.Id">@post.Id</a></td>
				<td>@post.Title</td>
				<td>@post.Body</td>
				<td>@post.UserId</td>
			</tr>
		}
	</tbody>
</table>
